// Variables
$header-height: 80px;
$menu-item-height: 40px;

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0%;

}

// En-tête
header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    width: 100%;


    // Logo
    .header__logo {
        img {
            height: 60px;

        }
    }

    // Menu
    nav {
        ul.menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                height: $menu-item-height;
                margin: 0 30px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    color: #333;
                    text-decoration: none;
                    font-size: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menu-toggle__bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: #333;
}

@media screen and (max-width: 768px) {
    header {
        width: auto;
        .menu-toggle {
                display: block;
            }
        nav {
            ul.menu {
                li {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 357px) {
    .menu-toggle__bar {
        height: 1px;
    }
    nav{
        display: none;
    }
}