body {
  width: 100%;
  overflow-x: hidden;
  margin: 0%;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 100%;
}
header .header__logo img {
  height: 60px;
  padding: 5%;
}
@media screen and (max-width: 400px) {
  header {
    /* Sidenav menu */
  }
  header .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  header .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  header .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  header .sidenav a:hover {
    color: #111;
  }
  header .sidenav.active {
    left: 0;
  }
  header .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  header .burger-icon {
    display: block;
    margin-top: 20px;
    margin-left: -40px;
  }
  header .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}
@media screen and (min-width: 768px) {
  .sidenav {
    padding: 0 9px;
    width: 90%;
  }
  .sidenav .close {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .sidenav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 993px) {
  .sidenav a {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .sidenav a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 768px) {
  .sidenav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 993px) {
  .sidenav ul {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .sidenav li {
    height: 40px;
    margin: 0 25px;
  }
}
@media screen and (min-width: 993px) {
  .sidenav {
    margin-left: auto;
  }
  .sidenav .close {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .sidenav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    text-decoration: none;
    font-size: 22px;
  }
  .sidenav a:hover {
    text-decoration: underline;
  }
  .sidenav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sidenav li {
    height: 20px;
    margin: 0 30px;
  }
}
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0%;
}

#accueil {
  background-image: url("../Images/activites/WhatsApp Image 2023-04-30 at 01.53.16.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}
@media screen and (max-width: 400px) {
  #accueil {
    background-image: url("../Images/activites/WhatsApp Image 2023-04-30 at 01.53.16.jpeg");
  }
}
#accueil .presentation {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 90px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
  font-size: 28px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  #accueil .presentation {
    display: none;
  }
}

.chevron {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border: 2px solid green;
  border-radius: 50%;
  animation: scrollDown 2s infinite;
  cursor: pointer;
}
.chevron:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-left: 2px solid green;
  border-bottom: 2px solid green;
  width: 12px;
  height: 12px;
}
@media screen and (max-width: 768px) {
  .chevron {
    display: none;
  }
}

/*
.fa-chevron-down {
    font-size: 40px;
}*/
/*@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}*/
#apropos {
  background-color: #f2f2f2;
  padding: 50px 0;
}
#apropos h2 {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-left: 40%;
}
@media screen and (max-width: 400px) {
  #apropos h2 {
    text-align: center;
    margin: 0%;
  }
}
@media screen and (max-width: 768px) {
  #apropos h2 {
    text-align: center;
    margin-left: -1%;
  }
}

.apropos__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* .apropos__button{
   display: none;
   @media screen and (max-width:400px){
       display: block;
       margin-top: 5px;
       background: none;
       border: none;
       color: blue;
       cursor: pointer;
   }


   }*/
}
@media screen and (max-width: 768px) {
  .apropos__content {
    flex-direction: column;
    align-items: center;
  }
}
.apropos__content .apropos__img {
  flex-basis: 30%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .apropos__content .apropos__img {
    display: none;
  }
}
.apropos__content .apropos__img img {
  width: 100%;
  height: 400px;
  margin-left: -10%;
  border: solid;
  border-color: #fff;
}
.apropos__content .apropos__img .legend {
  text-align: left;
  font-style: italic;
  font-size: 24px;
}
.apropos__content .apropos__text {
  flex-basis: 45%;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .apropos__content .apropos__text {
    margin: 2%;
  }
}
@media screen and (max-width: 400px) {
  .apropos__content .apropos__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    justify-content: space-between;
  }
}
.apropos__content .apropos__text h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .apropos__content .apropos__text h3 {
    text-align: center;
  }
}
.apropos__content .apropos__text p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .apropos__content .apropos__text p {
    font-size: 24px;
  }
}

#activites {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 1%;
}
#activites .activites__title {
  font-size: 2.5rem;
  padding-top: 80px;
}
#activites .activites__description {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: justify;
  margin: 1%;
}
@media screen and (min-width: 768px) {
  #activites .activites__description {
    font-size: 24px;
  }
}
#activites .activites__bande {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
#activites .activites__bande-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333333%;
  text-decoration: none;
  color: #333;
}
#activites .activites__bande-item:hover {
  color: green;
}
#activites .activites__bande-icon {
  height: 70px;
  margin-bottom: 10px;
}
#activites .activites__bande-texte {
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  #activites .activites__bande-texte {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  #activites .activites__bande-texte {
    font-size: 19px;
    margin-left: 6%;
  }
}

#realisations {
  text-align: center;
  background-color: white;
}
#realisations .realisations__title {
  font-size: 2.5rem;
  margin-top: 60px;
}
#realisations .realisations__bande {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
@media screen and (max-width: 400px) {
  #realisations .realisations__bande {
    flex-direction: column;
    margin-left: 40%;
  }
}
#realisations .realisations__bande-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333333%;
  text-decoration: none;
  order: 1;
}
@media screen and (max-width: 400px) {
  #realisations .realisations__bande-item {
    margin-bottom: 20px;
  }
}
#realisations .realisations__bande-item .realisations__bande-image {
  height: 150px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
#realisations .realisations__bande-item .voir-plus {
  visibility: visible;
  color: black;
}
@media screen and (max-width: 400px) {
  #realisations .realisations__bande-item .voir-plus {
    display: none;
  }
}
#realisations .realisations__bande-item:hover .realisations__bande-image {
  transform: scale(2);
}
#realisations .realisations__bande-item:hover .voir-plus {
  opacity: 1;
  visibility: hidden;
}

.qse img {
  width: 100%;
}

#partenaires {
  text-align: center;
  background-color: white;
}
#partenaires .partenaires__title {
  font-size: 2.5rem;
  margin-top: 60px;
}
#partenaires .partenaires__bande {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
@media screen and (max-width: 400px) {
  #partenaires .partenaires__bande {
    flex-direction: column;
  }
}
#partenaires .partenaires__bande-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333333%;
  text-decoration: none;
}
@media screen and (max-width: 400px) {
  #partenaires .partenaires__bande-item {
    margin-left: 32%;
  }
}
#partenaires .partenaires__bande-item .partenaires__bande-image {
  height: 150px;
  margin-bottom: 10px;
}
@media screen and (max-width: 400px) {
  #partenaires .partenaires__bande-item .partenaires__bande-image .partenaires__bande-image {
    height: 100px;
    margin-bottom: 5px;
  }
}
#partenaires .partenaires__bande-item:hover .partenaires__bande-image {
  transform: scale(1.1);
}

.qse-texte {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  color: white;
  font-size: 2rem;
  padding: 50px;
  border: solid;
  border-color: aqua;
}
@media screen and (max-width: 768px) {
  .qse-texte {
    margin-left: -40px;
  }
}
@media screen and (max-width: 400px) {
  .qse-texte {
    margin-left: -50px;
  }
}

.qse-texte p {
  margin-bottom: 20px;
  text-align: left;
  font-size: 24px;
}

#contact h2 {
  margin-top: 10px;
  font-size: 38px;
  text-align: center;
}
#contact .left-column {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  margin-left: 100px;
  vertical-align: top;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  #contact .left-column {
    display: none;
  }
}
#contact .left-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#contact .left-column form {
  display: inline-block;
  text-align: left;
}
#contact .left-column form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
#contact .left-column form input[type=text],
#contact .left-column form input[type=email],
#contact .left-column form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 1.2rem;
}
#contact .left-column form input[type=submit] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
#contact .right-column {
  text-align: center;
  padding: 20px;
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  #contact .right-column {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  #contact .right-column {
    flex-direction: column;
  }
}
#contact .right-column h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #contact .right-column h3 {
    display: none;
  }
}
#contact .right-column h4 {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #contact .right-column h4 {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  #contact .right-column h4 {
    font-size: 24px;
  }
}
#contact .right-column p {
  margin: 10px 0;
  font-size: 1.1rem;
}
@media screen and (max-width: 768px) {
  #contact .right-column p {
    font-size: 24px;
    margin-top: 18px;
  }
}
@media screen and (max-width: 768px) {
  #contact .right-column p {
    font-size: 18px;
  }
}
#contact .right-column p:first-child {
  margin-top: 0;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
@media screen and (max-width: 400px) {
  .back-to-top {
    display: none;
    margin-left: 10%;
    right: 40px;
    visibility: hidden;
  }
}

.back-to-top:hover {
  text-decoration: none;
}

.show-back-to-top {
  display: block;
}

footer {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
footer img {
  display: block;
  margin: 0 auto;
  height: 70px;
}
footer p {
  text-align: center;
  color: white;
}/*# sourceMappingURL=index.css.map */