body {
  width: 100%;
  overflow-x: hidden;
  margin: 0%;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  width: 100%;
}
header .header__logo img {
  height: 60px;
}
header nav ul.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul.menu li {
  height: 40px;
  margin: 0 30px;
}
header nav ul.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #333;
  text-decoration: none;
  font-size: 20px;
}
header nav ul.menu li a:hover {
  text-decoration: underline;
}

#accueil {
  background-image: url("../Images/activites/josh-olalde-X1P1_EDNnok-unsplash.webp");
  height: 600px;
}
#accueil .presentation {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 90px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chevron {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border: 2px solid green;
  border-radius: 50%;
  animation: scrollDown 2s infinite;
  cursor: pointer;
}
.chevron:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-left: 2px solid green;
  border-bottom: 2px solid green;
  width: 12px;
  height: 12px;
}

.fa-chevron-down {
  font-size: 40px;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
#apropos {
  background-color: #f2f2f2;
  padding: 50px 0;
}
#apropos h2 {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-decoration: underline;
  margin-left: 40%;
}
#apropos .apropos__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#apropos .apropos__content .apropos__img {
  flex-basis: 30%;
  margin-bottom: 20px;
}
#apropos .apropos__content .apropos__img img {
  width: 80%;
  margin-left: -10%;
  border: solid;
  border-color: #fff;
}
#apropos .apropos__content .apropos__img .legend {
  text-align: left;
  font-style: italic;
  font-size: 0.8rem;
}
#apropos .apropos__content .apropos__text {
  flex-basis: 45%;
  margin-left: 5%;
}
#apropos .apropos__content .apropos__text h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
#apropos .apropos__content .apropos__text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

#activites {
  text-align: center;
  background-color: #f2f2f2;
}
#activites .activites__title {
  font-size: 2.5rem;
  padding-top: 80px;
}
#activites .activites__description {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 60px;
}
#activites .activites__bande {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
#activites .activites__bande-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333333%;
  text-decoration: none;
  color: #333;
}
#activites .activites__bande-item:hover {
  color: green;
}
#activites .activites__bande-icon {
  height: 70px;
  margin-bottom: 10px;
}
#activites .activites__bande-texte {
  font-size: 1.2rem;
  font-weight: bold;
}

#realisations {
  text-align: center;
  background-color: white;
}
#realisations .realisations__title {
  font-size: 2.5rem;
  margin-top: 60px;
}
#realisations .realisations__bande {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
#realisations .realisations__bande-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333333%;
  text-decoration: none;
  order: 1;
}
#realisations .realisations__bande-item .realisations__bande-image {
  height: 150px;
  margin-bottom: 10px;
}
#realisations .realisations__bande-item .voir-plus {
  visibility: visible;
  color: black;
}
#realisations .realisations__bande-item:hover .realisations__bande-image {
  transform: scale(2);
}
#realisations .realisations__bande-item:hover .voir-plus {
  opacity: 1;
  visibility: hidden;
}

#partenaires {
  text-align: center;
  background-color: white;
}
#partenaires .partenaires__title {
  font-size: 2.5rem;
  margin-top: 60px;
}
#partenaires .partenaires__bande {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
#partenaires .partenaires__bande-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333333%;
  text-decoration: none;
}
#partenaires .partenaires__bande-item .partenaires__bande-image {
  height: 150px;
  margin-bottom: 10px;
}
#partenaires .partenaires__bande-item:hover .partenaires__bande-image {
  transform: scale(1.1);
}

.qse-texte {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  color: white;
  font-size: 2rem;
  padding: 50px;
}

.qse-texte p {
  margin-bottom: 20px;
}

#contact h2 {
  margin-top: 10px;
  font-size: 38px;
  text-align: center;
}
#contact .left-column {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  margin-left: 200px;
  vertical-align: top;
  display: inline-block;
}
#contact .left-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#contact .left-column form {
  display: inline-block;
  text-align: left;
}
#contact .left-column form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
#contact .left-column form input[type=text],
#contact .left-column form input[type=email],
#contact .left-column form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 1.2rem;
}
#contact .left-column form input[type=submit] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
#contact .right-column {
  text-align: center;
  padding: 20px;
  vertical-align: top;
  display: inline-block;
  margin-left: 1px;
}
#contact .right-column h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact .right-column h4 {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
#contact .right-column p {
  margin: 10px 0;
  font-size: 1.1rem;
}
#contact .right-column p:first-child {
  margin-top: 0;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.back-to-top:hover {
  text-decoration: none;
}

.show-back-to-top {
  display: block;
}

footer {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
footer img {
  display: block;
  margin: 0 auto;
  height: 70px;
}
footer p {
  text-align: center;
  color: white;
}/*# sourceMappingURL=index.css.map */