body {
  width: 100%;
  overflow-x: hidden;
  margin: 0%;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 100%;
}
header .header__logo img {
  height: 60px;
}
@media screen and (max-width: 400px) {
  header {
    /* Sidenav menu */
  }
  header .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  header .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  header .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  header .sidenav a:hover {
    color: #111;
  }
  header .sidenav.active {
    left: 0;
  }
  header .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  header .burger-icon {
    display: block;
    margin-top: 20px;
    margin-left: -40px;
  }
  header .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}
@media screen and (min-width: 400px) {
  header .sidenav .close {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  header .sidenav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    text-decoration: none;
    font-size: 20px;
  }
  header .sidenav a:hover {
    text-decoration: underline;
  }
  header .sidenav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 300px;
    margin-top: 30px;
  }
  header .sidenav li {
    height: 20px;
    margin: 0 30px;
  }
}

footer {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
footer img {
  display: block;
  margin: 0 auto;
  height: 70px;
}
footer p {
  text-align: center;
  color: white;
}

section {
  margin-top: 50px;
}
@media screen and (max-width: 400px) {
  section {
    margin: auto;
  }
}
section h2 {
  font-size: 2.4rem;
  margin-left: 100px;
  padding-right: 10%;
}
@media screen and (max-width: 400px) {
  section h2 {
    margin: auto;
    padding: auto;
    text-align: center;
  }
}
section .realisations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
section .realisations ul {
  list-style-type: disc;
  font-size: 1.2rem;
  margin-right: 50px;
  margin-left: 100px;
}
@media screen and (max-width: 400px) {
  section .realisations ul {
    display: none;
  }
}
section .realisations .carrousel {
  width: 30%;
  margin-right: 200px;
  position: relative;
  height: 400px;
}
@media screen and (max-width: 400px) {
  section .realisations .carrousel {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  section .realisations .carrousel {
    width: 100%;
  }
}
section .realisations .carrousel img {
  width: 100%;
  height: 400px;
  margin-top: -40px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .realisations .carrousel .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
section .realisations .carrousel .fa.left {
  left: 0;
}
section .realisations .carrousel .fa.right {
  right: 0;
}/*# sourceMappingURL=realisations.css.map */